* {
    margin: 0;
}
html {
    display: flex;
    height: 100vh;
}
body {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: rgb(0, 111, 0);

    overflow: hidden;
    z-index: -10;
}
header {
    height: 50px;
}
hud {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
cards-on-the-field {
    position: absolute;
    display: flex;

    left: 0;

    width: 600px;
    height: 400px;

    background-color: rgba(255, 228, 196, 0.4);
    z-index: 10;
}
cards-on-the-field > * {
    /* display: flex; */


    width: 200px;
    height: 400px;
}
selected-card {
    position: absolute;
    display: flex;

    right: 0;

    width: 300px;
    height: 400px;

    background-color: rgba(255, 228, 196, 0.4);
    z-index: 10;
}
selected-card > * {
    width: 100%;
    height: 100%;
}
main {
    flex: 1;
    display: flex;
    z-index: -10;
}
start-game {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    width: 100px;
    height: 100%;

    background-color: aquamarine;
}
/* Card field */
battle-grid {
    display: flex;

    flex-wrap: wrap;

    width: 80%;
    height: 50%;

    background-color: red;

    transform: 
        translateY(50%)
        translateX(0%);
}
battle-grid > fighter-cards {
    /* Add a placeholder defender card when attacker places his card, so aligners wouldnt crash */
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: end;

    gap: 20px;

    width: 100%;
    height: 100%;

    transition: .5s;
}
battle-grid > * > * {
    width: 70px;
    height: 100px;
}
fighter-cards:hover {
    transform: translateZ(1000px);
}
fighter-cards {
    background-color: rgba(199, 149, 149, 0.661);
    z-index: 1;
}
/* Cards on the field */
fighter-cards > fighter {
    transition: .5s;
    transform: rotateZ(-10deg);
}
fighter {
    display: flex;
}
dead-cards {
    display: flex;

    width: 100%;
    height: 100%;
}
dead-fighter {
    display: flex;
}
dead-cards > * {
    position: absolute;
    transition: .5s;
}
dead-defender {
    display: flex;
}
dead-fighter > * {
    transform: rotateZ(-10deg);
}
dead-defender > * {
    transform: rotateZ(10deg);
}
/* Oponent */
oponent2 {
    display: flex;
    position: absolute;

    top: 5px;

    width: 40%;
    height: 150px;

    background: wheat;

    transform:
        rotateX(150deg)
        translateX(75%)
        translateY(100px)
        translateZ(0.9px);
}
player-hand-cards {
    display: flex;
    position: absolute;

    width: 80vw;
    height: 20vw;

    flex-wrap: nowrap;
    overflow: visible scroll;

    bottom: -250px;
    
    /* Centers on x axis */
    left: 50%;
    transform: translate(-50%);

    background-color: burlywood;
    transition: .3s;
}
player-hand-cards:hover {
    bottom: 0px;
}
hand-card {
    position: relative;
    display: flex;

    font-size: 100px;

    width: 300px;
    height: 100%;

    bottom: 0;
    background: rgb(23,23,23);
    transition: .5s;
}
player-hand-cards > hand-card:hover {
    bottom: 90px;
    background-color: aquamarine;
}
hand-card > img {
    width: inherit;
    height: inherit;
}
card-deck {
    position: absolute;
    display: block;
    
    width: 300px;
    height: 300px;

    left: 65%;
    bottom: 40%;

    background-color: aqua;
}
oponent-cards {
    position: relative;
    display: flex;

    width: 40vw;
    height: 10vw;

    top: 50px;
    
    left: 50%;
    transform: translate(-50%);

    background-color: burlywood;
    transition: .3s;
}
/* Design */
design {
    display: block;
    flex: 1;

    perspective: 200px;
}
game-table {
    display: block;
    position: relative;

    width: 600px;
    height: 600px;

    background-color: hsl(26, 62%, 40%);
    left: 50%;

    transition: .5s;

    perspective: 200px;
    transform:
        translate(-50%)
        rotateX(15deg);
}
table-center {
    display: flex;
    position: absolute;

    top: 0px;

    width: 50%;
    height: 50%;

    background: hsl(26, 61%, 50%);
    border-radius: 50%;

    transform:
        translateX(50%)
        translateY(50%);
}
front-side {
    display: flex;
    position: absolute;

    bottom: -25px;

    width: 100%;
    height: 50px;

    background: linear-gradient(0deg, hsl(26, 90%, 30%), hsl(26, 90%, 22%) 30%);

    transform:
        rotateX(155deg)
        translateY(-29px)
        translateZ(0.9px);
}
card-stack {
    display: flex;
    position: absolute;

    bottom: 50%;
    right: 100px;

    width: 100px;
    height: 100px;

    background: hsl(142, 61%, 50%);

    transform:
        translateX(80%)
        translateY(50%);
}