* {
    margin: 0px;
}
:root {
    --light-dark-color: rgb(17 17 17);
    --mid-dark-color: rgb(13, 13, 13);
    --dark-dark-color: rgb(0,0,0);
    --dropdown-color: rgb(30, 30, 30);
    --main-color: rgb(41, 41, 41);
    --text-color: rgb(240, 248, 255);

    --alpha4: rgba(0,0,0, 0.4);

    --hover-brightness: 180%;
    
    --map-container-flex: 3;
    --sidebar-container-flex: 1;
}
h2 {
    font-size: 100px;
    color: transparent;
    background: linear-gradient(-30deg, red, blue);
    background-clip: text;
}
dark-mode {
    justify-self: flex-start;
    width: 60px;
    height: 100%;

    background: white;
    border: 3px solid black;
}
donate-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 30px;

    width: 90%;
}
donate-container > * {
    width: 100%;
}
donate-container > h1 {
    display: flex;
    height: 80px;

    font-size: 5rem;

    align-items: center;
    justify-content: center;

    color: var(--text-color);
}
donate-container > cards {
    flex: 1;
}
support {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(-30deg, rgb(0, 255, 72), rgb(255, 157, 0));
    background-clip: text;
}
split-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    align-items: center;
    justify-content: center;

    width: 90%;
    gap: 20px;

    padding: 20px;
    box-sizing: border-box;
    
    color:var(--text-color);
    background: var(--alpha4);
    border-radius: 28px;
}
split-container-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    width: 100%;
    height: 100%;
    flex: 1;
}
split-container img {
    max-width: 50%;
    aspect-ratio: 16/9;
    flex: 1;
    border-radius: 28px;
}
split-container p {
    display: flex;
    text-align: center;
    font-size: 2vw;
}
html {
    display: flex;
    height: 100%;
}
img {
    display: block;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.dropdown {
    position: relative;
}
.dropdown:hover > dropdown-block {
    visibility: visible;
    height: 200px;
    color: var(--text-color);
}
dropdown-block {
    display: flex;
    position: absolute;
    flex-direction: column;
    
    top: 100%;

    width: 100%;
    height: 0px;
    visibility: hidden;
    color: transparent;

    background-color: var(--dropdown-color);
    transition: 0.3s ease;
}
dropdown-block > div {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
}
dropdown-block > div:hover {
    backdrop-filter: brightness(var(--hover-brightness));
}
dropdown-block > div > a {
    position: absolute;
    width: 100%;
    height: 100px;
}
/* Headers */
header {
    display: flex;
    flex-direction: column;
    color:var(--text-color);
}
top-header {
    display: flex;
    width: 100%;
    height: 60px;

    justify-content: space-between;
    align-items: center;

    height: 60px;
    color: var(--text-color);
    background: var(--light-dark-color);
}
bottom-header {
    display: flex;
    width: 100%;
    height: 40px;

    background: linear-gradient(
        var(--dark-dark-color), 
        var(--light-dark-color) 10%, 
        var(--light-dark-color) 95%, 
        var(--dark-dark-color)
    );
}
bottom-header > * {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    transition: .3s;
}
bottom-header > *:hover {
    color: aquamarine;
    backdrop-filter: brightness(var(--hover-brightness));
}
/* Body */
content-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50vw;
    max-height: 80vh;

    color: var(--text-color);
}
informational-hud {
    display: flex;
    flex: 0.1;

    background: linear-gradient(var(--mid-dark-color) 90%, var(--dark-dark-color));
}
second-container {
    display: flex;
    flex: 1;
}
map-container {
    display: flex;
    flex: var(--map-container-flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 100px;

    color: rgba(238, 148, 30, 0.91);
    background-color: rgba(250, 235, 215, 0.384);
}
map-hud {
    display: flex;
    flex: var(--map-container-flex);
}
.title {
    display: flex;
    flex: 5;
    align-items: center;

    margin-left: 12px;
    font-size: 32px;
}
right-sidebar {
    display: flex;
    flex: var(--sidebar-container-flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: rgba(250, 235, 215, 0.7);
    background: var(--alpha4);
}
sidebar-hud {
    display: flex;
    flex: var(--sidebar-container-flex);
}
.hud-button {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;
    
    transition: .3s;
}
.hud-button:hover {
    backdrop-filter: brightness(var(--hover-brightness));
    color: bisque;
}
footer {
    display: flex;

    width: 100%;
    height: 60px;

    color: var(--text-color);
    background: linear-gradient(var(--dark-dark-color), var(--light-dark-color) 10%);
    transition: 0.3s;
}
footer h3 {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: -2;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    padding: 10px;

    background-color: var(--main-color);
    z-index: -1;
}
phone-header {
    position: fixed;
    display: none;

    justify-content: space-between;

    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(var(--dark-dark-color), var(--light-dark-color) 10%);

    z-index: 5;
}
phone-header > dark-mode {
    min-width: 100px;
    height: 100px;
}
phone-header > input {
    min-width: 50%;
    height: 80px;
    align-self: center;
}
off-screen-menu {
    position: fixed;
    display: none;
    flex-direction: column;

    right: -100%;
    gap: 20px;

    width: 90%;
    height: 100%;

    background: var(--dropdown-color);
    transition: .5s;
    color: var(--text-color);
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 100px;

    font-size: 50px;
}
navigation-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
navigation-options > * {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    font-size: 30px;
}
navigation-options > *:hover {
    backdrop-filter: brightness(var(--hover-brightness));
}

@media (max-width: 960px) {
    split-container {
        flex-direction: column;
    }
    split-container > * {
        min-width: 100%;
    }
    split-container-text-box {
        min-height: 250px;
    }
    split-container-text-box > p {
        font-size: 30px;
    }
    phone-header {
        display: flex;
    }
    off-screen-menu {
        display: flex;
    }
    header, footer {
        display: none;
    }
    main {
        padding-bottom: 100px;
    }
}