* {
    margin: 0px;
}
:root {
    --dark-black: rgb(17 17 17);
    --dropdown-color: rgb(30, 30, 30);
    --map-container-flex: 3;
    --sidebar-container-flex: 1;
}
h2 {
    font-size: 100px;
    color: transparent;
    background: linear-gradient(-30deg, red, blue);
    background-clip: text;
}
support {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(-30deg, rgb(0, 255, 72), rgb(255, 157, 0));
    background-clip: text;
}
split-container {
    display: flex;
    width: 100%;
    height: 90%;
    gap: 20px;

    
    color:aliceblue;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 28px;
}
split-container img {
    max-width: 50%;
    border-radius: 28px 0px 28px;
}
split-container p {
    display: flex;
    align-items: center;
    font-size: 2vw;
}
html {
    display: flex;
    height: 100%;
}
img {
    display: block;
}
a {
    text-decoration: none;
    color: aliceblue;
}
.dropdown {
    position: relative;
}
.dropdown:hover dropdown-block {
    visibility: visible;
    height: 200px;
    color: aliceblue;
}
dropdown-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    top: 100%;

    width: 100%;
    height: 0px;
    visibility: hidden;
    color: transparent;

    background-color: var(--dropdown-color);
    transition: 0.3s ease;
}
.dropdown div {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
}
.dropdown div:hover {
    backdrop-filter: brightness(180%);
}
/* Headers */
header {
    display: flex;
    flex-direction: column;
    color:aliceblue;
}
top-header {
    display: flex;
    width: 100%;
    height: 60px;

    justify-content: space-between;
    align-items: center;

    height: 60px;
    color: aliceblue;
    /* background: linear-gradient(var(--dark-black) 90%, rgba(0, 0, 0, 1)); */
    background: var(--dark-black);
}
bottom-header {
    display: flex;
    width: 100%;
    height: 40px;

    background: linear-gradient(rgba(0, 0, 0, 1), rgb(17 17 17) 10%, rgb(17 17 17) 95%, rgba(0, 0, 0, 1));
}
bottom-header a {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    transition: .3s;
}
bottom-header a:hover {
    color: aquamarine;
    backdrop-filter: brightness(180%);
}
/* Body */
content-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50vw;
    max-height: 80vh;

    color: aliceblue;
    background-color: rgba(30, 30, 30, 0.95);
}
informational-hud {
    display: flex;
    flex: 0.1;

    background: linear-gradient(var(--dark-black) 90%, rgba(0, 0, 0, 1));
}
second-container {
    display: flex;
    flex: 1;
}
map-container {
    display: flex;
    flex: var(--map-container-flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 100px;

    color: rgba(238, 148, 30, 0.91);
    background-color: rgba(250, 235, 215, 0.384);
}
map-hud {
    display: flex;
    flex: var(--map-container-flex);
}
.title {
    display: flex;
    flex: 5;
    align-items: center;

    margin-left: 12px;
    font-size: 32px;
}
right-sidebar {
    display: flex;
    flex: var(--sidebar-container-flex);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: rgba(250, 235, 215, 0.497);
}
sidebar-hud {
    display: flex;
    flex: var(--sidebar-container-flex);
}
.hud-button {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;
    
    transition: .3s;
}
.hud-button:hover {
    backdrop-filter: brightness(180%);
    color: bisque;
}
footer {
    display: flex;

    width: 100%;
    height: 60px;

    color: aliceblue;
    background: linear-gradient(rgba(0, 0, 0, 1), rgb(17 17 17) 10%);
    transition: 0.3s;
}
footer h3 {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    padding: 10px;

    background-color: rgba(30, 30, 30, 0.95);
}