h1 {
    margin-top: 0px;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
}
p {
    font-family: sans-serif;
}
.navbar {
    display: flex; /* changes size, width, height (grow, shrink, basis)automatically */
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgba(220, 234, 125, 80);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 50px, 20px;
}
.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list li {
    margin-right: 20px;
}
.nav-list a {
    text-decoration: none; /* adds underline n prob. smth. more */
    color: black;
    font-size: 18px;
    transition: color 0.1s ease-in-out;
}
.nav-list li a:hover {
    color: gray;
}
.weblinks {
    font-size: 20px;
    display: grid;
}
.donate:hover {
    animation: rotation 1s infinite ease;
}
.image-button {
    border-radius: 24px;
}
.image-button:hover {
    size: 120%;
    filter: brightness(50%);
    transition: filter 0.3s ease;
}
@keyframes rotation {
    0% {
       
    }
    25% {
        transform: rotate(10deg);
    }
    
    75% {
        transform: rotate(-10deg);
    }
    100% {
        
    }
}
.weblinkItem1 {
    grid-column: 1;
}
aside {
    background-color: beige;
}
header {
    background-color: rgb(233, 127, 41);
}
body {
    margin: 0;
    border-radius: 34px;
    background-color: rgb(243, 208, 93);
}
main {
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(127, 236, 255);
}
footer {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: aquamarine;
}